<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729827175436-bbkkhq53if96icokjl471nudl9lv8sjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729827175436-bbkkhq53if96icokjl471nudl9lv8sjd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>729827175436-j7ha49c27992635jvfp70i49fp1rc79k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCf799uQC6NvfI8c2PxKFM4G7IA6u1cDQs</string>
	<key>GCM_SENDER_ID</key>
	<string>729827175436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wml.rsvpCorsairs</string>
	<key>PROJECT_ID</key>
	<string>rsvp-22bdf</string>
	<key>STORAGE_BUCKET</key>
	<string>rsvp-22bdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729827175436:ios:4b46cf759fe8bd105a1229</string>
</dict>
</plist>